<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

<table>
    <thead>
        <tr th:fragment = "job-listing"></tr>

    </thead>
    <tr th:each="Job: ${jobs}">
        <td>
            <p th:text="'ID: ' +${Job.id}"></p>
            <p th:text="'Employer: '+ ${Job.employer}"></p>
            <p th:text="'Location: ' +${Job.location}"></p>
            <p th:text="'Position Type: '+${Job.positionType}"></p>
            <p th:text="'Skill: '+${Job.coreCompetency}"></p>
        </td>
<!--        <td th:text="${Job.id}"></td>-->
<!--        <td th:text="${Job.employer}"></td>-->
<!--        <td th:text="${Job.location}"></td>-->
<!--        <td th:text="${Job.positionType}"></td>-->
<!--        <td th:text="${Job.coreCompetency}"></td>-->
    </tr>
</table>


</div>

</body>
</html>